 /*despite what it may tell you translate and scale are supported by browsers*/ 
.space-mono-regular,h1,h2,h3,h4,h5,p,i,a{
  font-family: "Space Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.link-container,.content{
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

